<header>Routing</header>
<br>
<ul>
  <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a></li>
  <li><a routerLink="/user" routerLinkActive="active">user</a></li>
  <li><a routerLink="/categories" routerLinkActive="active">catergories</a></li>
  <li><a routerLink="/navigateFromTsFileComponent" routerLinkActive="active">NavigateFromTsFileComponent</a></li>
  <li><a routerLink="/routeParamSnapshotComponent/:id" routerLinkActive="active">RouteParamSnapshotComponent</a></li>
  <li><a routerLink="/routeParamReactiveComponent" routerLinkActive="active">RouteParamReactiveComponent</a></li>
  <li><a routerLink="queryparametersAndFragmentsComponent" routerLinkActive="active">QueryparametersAndFragmentsComponent</a></li>
  <li><a routerLink="/parent" routerLinkActive="active">To See child routing</a></li>
</ul>

<router-outlet></router-outlet>
